---
import profileMd from '../assets/profile-md.webp'
import profile from '../assets/profile.webp'
import Rings from './Rings.astro'
---

<section class="sm:(flex flex-row-reverse items-start justify-between)">
  <picture
    class:list={[
      '-mt-25.75 mx-auto w-43.5 block sm:(-mt-15 -mx-4 w-46) md:(-mx-8 w-80.5)',
      'lg:(-mt-18 mr-0 w-86)'
    ]}
  >
    <source
      srcset={profileMd.src}
      media="(min-width: 768px)"
      width={profileMd.width}
      height={profileMd.height}
    />
    <img
      src={profile.src}
      alt=""
      width={profile.width}
      height={profile.height}
    />
  </picture>
  <div
    class:list={[
      'relative mt-10 mx-auto max-w-111 text-center sm:(mx-0 text-left flex-1)',
      'md:mt-22 xl:max-w-177'
    ]}
  >
    <h1 class="text-10 tracking-tighter md:text-18 xl:(text-22 leading-[1.1] )">
      Nice to <span class="sm:(mb-2 block) md:mb-4 xl:inline">
        meet you! I'm
      </span>
      <span
        class:list={[
          'underline underline-offset-6 underline-primary',
          'md:underline-offset-12'
        ]}>Jhan Viloria</span
      >.
    </h1>
    <p class="my-6 md:(mt-15 mb-9) lg:(mt-10 mb-16 max-w-111)">
      Based in Colombia, I'm a Frontend Developer with +2 year of experience
      creating websites using technologies such as React, Next.js and Svelte.
    </p>
    <a class="btn mx-auto sm:mx-0" href="#contact">Contact Me</a>
  </div>
  <Rings class="top-31 -z-1 sm:(top-21.5 -left-66.25) lg:(top-25 -left-25)" />
  <div
    class:list={[
      'absolute -z-10 right-0 top-0 size-500px translate-y-25% rounded-full',
      'bg-primary/25 opacity-25 blur-50px xl:-translate-x-25%'
    ]}
  >
  </div>
</section>
